In [ ]:
import numpy as np
import pandas as pd
import io
from google.colab.data_table import DataTable
DataTable.max_columns = 500
import matplotlib.pyplot as plt
from scipy import stats
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = "/content/drive/MyDrive/STANFORD/stages-dataset-0.3.0.csv"

In [ ]:
stages_dataset = pd.read_csv(path)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
stanford_df = stages_dataset.iloc[1350:1882].copy()
len(stanford_df)

In [ ]:
stanford_df

,modified_created_at,modified_completed,subject_code,dem_0100,modified_dem_0110,dem_0500,dem_0600,dem_0610,dem_0700,dem_0800,...,sched_1701,sched_1801,soclhx_0101,narc_1710,never_cigarette_smoker,former_cigarette_smoker,former_smokeless_user,current_cigarette_smoker,current_smokeless_user,visitcode
1350,18NOV17:10:26:43,29NOV17:21:54:00,STNF00001,1976.0,41.0,M,5.0,10.0,195.0,28.0,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1351,11SEP17:22:25:16,11SEP17:23:55:00,STNF00003,1976.0,41.0,F,5.0,10.0,200.0,28.7,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1352,26APR18:22:47:44,26APR18:23:59:00,STNF00003,1976.0,41.0,F,5.0,10.0,235.0,33.7,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1353,23APR18:21:48:41,23APR18:22:24:00,STNF00004,1982.0,35.0,M,5.0,11.0,175.0,24.4,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1354,06NOV17:11:43:15,30DEC17:18:17:00,STNF00005,1970.0,47.0,F,5.0,6.0,195.0,31.5,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876,25OCT18:07:12:24,25OCT18:08:28:00,STNF00494,1941.0,77.0,M,6.0,2.0,228.0,29.3,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1877,21APR19:22:52:24,21APR19:23:30:00,STNF00495,1986.0,32.0,F,5.0,3.0,315.0,55.8,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1878,04MAY19:10:14:13,NaN,STNF00496,1948.0,71.0,F,5.0,8.0,195.0,29.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1879,11JUN19:07:51:59,11JUN19:08:55:00,STNF00496,1948.0,71.0,F,5.0,7.0,195.0,30.5,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1880,26JUN19:19:51:35,26JUN19:21:11:00,STNF00497,1988.0,30.0,M,5.0,4.0,136.0,23.3,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [ ]:
minimal = stanford_df.query('phq_1000 == 0.0 or phq_1000 == 1.0 or phq_1000 == 2.0 or phq_1000 == 3.0 or phq_1000 == 4.0')
mild = stanford_df.query('phq_1000 == 5.0 or phq_1000 == 6.0 or phq_1000 == 7.0 or phq_1000 == 8.0 or phq_1000 == 9.0')
Moderate = stanford_df.query('phq_1000 == 10.0 or phq_1000 == 11.0 or phq_1000 == 12.0 or phq_1000 == 13.0 or phq_1000 == 14.0')
Moderately_Severe = stanford_df.query('phq_1000 == 15.0 or phq_1000 == 16.0 or phq_1000 == 17.0 or phq_1000 == 18.0 or phq_1000 == 19.0')
Severe = stanford_df.query('phq_1000 == 20.0 or phq_1000 == 21.0 or phq_1000 == 22.0 or phq_1000 == 23.0 or phq_1000 == 24.0 or phq_1000 == 25.0 or phq_1000 == 26.0 or phq_1000 == 27.0')

In [ ]:
Severe

,modified_created_at,modified_completed,subject_code,dem_0100,modified_dem_0110,dem_0500,dem_0600,dem_0610,dem_0700,dem_0800,...,sched_1701,sched_1801,soclhx_0101,narc_1710,never_cigarette_smoker,former_cigarette_smoker,former_smokeless_user,current_cigarette_smoker,current_smokeless_user,visitcode
1372,02JAN18:15:44:18,02JAN18:16:23:00,STNF00021,1988.0,29.0,F,5.0,4.0,185.0,31.8,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1384,23APR18:17:53:19,23APR18:18:44:00,STNF00033,1992.0,25.0,F,5.0,8.0,170.0,25.8,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1416,31JUL18:14:38:18,31JUL18:15:46:00,STNF00059,1988.0,30.0,M,6.0,2.0,175.0,22.5,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1454,17SEP18:06:59:46,17SEP18:07:55:00,STNF00096,1953.0,65.0,M,5.0,6.0,160.0,25.8,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1470,08MAY18:11:12:12,08MAY18:12:54:00,STNF00112,1973.0,45.0,F,5.0,3.0,213.0,37.7,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1484,03OCT18:18:48:14,03OCT18:20:45:00,STNF00125,1975.0,43.0,F,5.0,3.0,174.0,30.8,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1503,03SEP18:10:12:42,03SEP18:11:10:00,STNF00142,1976.0,41.0,F,5.0,5.0,110.0,18.3,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1505,14APR18:00:25:06,22APR18:01:28:00,STNF00144,1968.0,49.0,F,5.0,3.0,108.0,19.1,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1517,29OCT18:18:56:47,29OCT18:22:24:00,STNF00156,1984.0,34.0,M,6.0,5.0,330.0,39.1,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1554,17AUG18:12:49:46,21AUG18:11:08:00,STNF00190,1965.0,52.0,M,5.0,6.0,218.0,35.2,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1644,16OCT18:08:18:42,16OCT18:10:27:00,STNF00276,1982.0,36.0,M,5.0,11.0,155.0,21.6,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1645,16OCT18:12:31:14,16OCT18:13:48:00,STNF00277,1988.0,30.0,M,6.0,0.0,220.0,29.8,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1720,15MAR18:16:51:38,15MAR18:18:16:00,STNF00349,1989.0,28.0,M,6.0,4.0,237.0,28.8,...,NaN,NaN,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
1724,14MAR19:19:47:08,14MAR19:20:36:00,STNF00352,1998.0,20.0,F,5.0,2.0,140.0,25.6,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1737,15JAN19:10:02:28,15JAN19:11:16:00,STNF00364,1985.0,33.0,F,5.0,6.0,248.0,40.0,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1740,23SEP18:10:51:14,22NOV18:02:44:00,STNF00367,1987.0,31.0,F,5.0,0.0,165.0,32.2,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1770,24SEP18:20:39:13,24SEP18:22:26:00,STNF00398,1967.0,50.0,F,5.0,1.0,210.0,39.7,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1791,21APR19:17:49:37,21APR19:19:07:00,STNF00416,1984.0,35.0,F,5.0,7.0,220.0,34.5,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1800,21MAR19:07:50:57,21MAR19:08:19:00,STNF00425,1988.0,31.0,M,5.0,10.0,185.0,26.5,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1805,10APR19:17:41:13,10APR19:18:25:00,STNF00430,1965.0,53.0,F,5.0,5.0,224.0,37.3,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1819,03MAR19:15:26:50,16MAR19:21:10:00,STNF00443,1975.0,43.0,M,6.0,2.0,200.0,25.7,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1
1822,22MAR19:11:40:32,22MAR19:12:11:00,STNF00446,1974.0,44.0,F,5.0,2.0,181.0,33.1,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1839,04MAR19:21:37:01,04MAR19:23:07:00,STNF00463,1998.0,21.0,F,5.0,4.0,160.0,27.5,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1864,16JAN19:13:46:40,16JAN19:18:25:00,STNF00484,1997.0,21.0,F,5.0,2.0,105.0,19.2,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
1865,09NOV17:12:59:46,09NOV17:16:46:00,STNF00485,1996.0,21.0,F,5.0,3.0,116.0,20.5,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [ ]:
minimal_len = len(minimal)
mild_len = len(mild)
moderate_len = len(Moderate)
moderately_severe_len = len(Moderately_Severe)
severe_len = len(Severe)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

category_lengths_df = pd.DataFrame({
    'Category': ['Minimal', 'Mild', 'Moderate', 'Moderately Severe', 'Severe'],
    'Length': [minimal_len, mild_len, moderate_len, moderately_severe_len, severe_len]
})

plt.figure(figsize=(8, 6))
bars = plt.bar(category_lengths_df['Category'], category_lengths_df['Length'], color='skyblue')
plt.title('Category Lengths')
plt.xlabel('PHQ')
plt.ylabel('Length')
plt.xticks(rotation=45)
plt.tight_layout()

for bar, value in zip(bars, category_lengths_df['Length']):
    plt.text(bar.get_x() + bar.get_width() / 2, value + 1, str(value), ha='center', va='bottom')

plt.show()

In [ ]:
minimal_gad = stanford_df.query('gad_0800 == 0.0 or gad_0800 == 1.0 or gad_0800 == 2.0 or gad_0800 == 3.0 or gad_0800 == 4.0')
mild_gad = stanford_df.query('gad_0800 == 5.0 or gad_0800 == 6.0 or gad_0800 == 7.0 or gad_0800 == 8.0 or gad_0800 == 9.0')
moderate_gad = stanford_df.query('gad_0800 == 10.0 or gad_0800 == 11.0 or gad_0800 == 12.0 or gad_0800 == 13.0 or gad_0800 == 14.0')
severe_gad = stanford_df.query('gad_0800 == 15.0 or gad_0800 == 16.0 or gad_0800 == 17.0 or gad_0800 == 18.0 or gad_0800 == 19.0 or gad_0800 == 20.0 or gad_0800 == 21.0')

minimal_gad_len = len(minimal_gad)
mild_gad_len = len(mild_gad)
moderate_gad_len = len(moderate_gad)
severe_gad_len = len(severe_gad)

print(minimal_gad_len,mild_gad_len,moderate_gad_len,severe_gad_len)

import pandas as pd
import matplotlib.pyplot as plt

category_lengths_gad_df = pd.DataFrame({
    'Category': ['Minimal', 'Mild', 'Moderate', 'Severe'],
    'Length': [minimal_gad_len, mild_gad_len, moderate_gad_len, severe_gad_len]
})

plt.figure(figsize=(8, 6))
bars = plt.bar(category_lengths_gad_df['Category'], category_lengths_gad_df['Length'], color='skyblue')
plt.title('Category Lengths')
plt.xlabel('GAD')
plt.ylabel('Length')
plt.xticks(rotation=45)
plt.tight_layout()

for bar, value in zip(bars, category_lengths_gad_df['Length']):
    plt.text(bar.get_x() + bar.get_width() / 2, value + 1, str(value), ha='center', va='bottom')

plt.show()